/*
	THIS IS THE MAIN STYLESHEET FOR THIS PROJECT.
	AUTHOR: Orlando Watson

	TABLE OF CONTENTS
		1. GENERAL STYLES
		2. LANDING PAGE
*/

/*
	GENERAL STYLES
*/

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 14px;
}

.no-margin {
	margin: 0;
}

.heading {
	font-weight: lighter;
	text-transform: uppercase;
}

.muted {
	opacity: 0.5;
}

.flex-parent {
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-box;
	display: flex;
}

.flex-parent.flex-center {
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.flex-child {

}

#input {
	border-bottom: 2px solid white;
	box-shadow: none;
}

.js-button {
	cursor: pointer;
}

/*
	LANDING PAGE
*/
#landing-page {
	width: 100%;
	height: 100%;
	padding: 20px;
}

.landing-page-container {
	width: 600px;
	max-width: 100%;
	padding: 20px;
	text-align: center;
	color: white;
}
