extends layout
include mixins/orlando-svg

block content
	#header
		.header-bg-mountains
		.header-bg-clouds
		
		#nav
		
		#banner
			.banner-text
				h2.iam I'm
				+orlando
				h4.developer a full-stack web developer.
				
	#body
		section.section1.intro
			.section-container
				h4 I am a self-taught full-stack web developer. I have a passion for frontend design and development for both web and mobile devices;
		
		section.section2.skills
			.section-container
				h2.heading skills
				.skill
					.progress.green.lighten-1
						.determinate(style="width: 90%").green.darken-3
					h4.skill-name HTML/CSS
				.skill
					.progress.green.lighten-1
						.determinate(style="width: 80%").green.darken-3
					h4.skill-name Sass
				.skill
					.progress.green.lighten-1
						.determinate(style="width: 80%").green.darken-3
					h4.skill-name JavaScript
				.skill
					.progress.green.lighten-1
						.determinate(style="width: 70%").green.darken-3
					h4.skill-name Node.js
				.skill
					.progress.green.lighten-1
						.determinate(style="width: 60%").green.darken-3
					h4.skill-name PHP
				.skill
					.progress.green.lighten-1
						.determinate(style="width: 80%").green.darken-3
					h4.skill-name MongoDB
				.skill
					.progress.green.lighten-1
						.determinate(style="width: 90%").green.darken-3
					h4.skill-name Adobe Photoshop/Illustrator
					
