mixin orlando
	svg#orlando(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 850 156', style='enable-background:new 0 0 850 156;', xml:space='preserve')
		style(type='text/css').
			.st{fill:#ffffff;stroke:#ffffff;stroke-miterlimit:10;}
		g#XMLID_25_
			//- first O
			circle.o1.st(cx='75.4', cy='77.6', r='66.4')
			
			//- last O
			circle.o2.st(cx='774.4', cy='77.6', r='66.4')
			
			//- R
			path.r.st(d='M222,77.2c0,0,0.5,0,0.6,0c18.4,0,33.6-15,33.6-33.4c0-18.4-14.7-33.4-33.2-33.4\
			c0,0-0.3,0-0.3,0L155,10.8V78l0.2,66h100l-99.7-66L222,77.2z')
			
			//- L
			rect.l.st(x='271.7', y='10', width='42.7', height='134')
			
			//- A
			polygon.a.st(points='326.4,144 390.5,11.7 454.7,144 	')
			
			//- N
			polygon.n.st(points='554.5,11 538.6,63.3 522.5,11 462,11 462,145 474.4,145 490.5,111.7 506.7,145 \
			566,145 566,11 	')
			
			//- D
			path.d.st(d='M694.2,76.6c0-33.2-18.7-60.7-44.7-65.6l-61-0.5v133l61-1.3\
			C675.5,137.3,694.2,109.8,694.2,76.6z')
