#banner {
	padding: 10px;
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));

	.banner-text {

		h2 {
			color: white;

			&.iam {
				font-weight: lighter;
			}
		}

		.developer {
			color: white;
			text-align: right;
			font-weight: 200;
		}
	}
}
