.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

@media screen and (min-width: 0px) {

    .row {
        margin-left:-5px;
		margin-bottom: 0 !important;
    }
    .col {
    	padding: 5px !important;
    }

    .span_1 {
        width:14.2857142857%;
    }
    .span_2 {
        width:28.5714285714%;
    }
    .span_3 {
        width:42.8571428571%;
    }
    .span_4 {
        width:57.1428571429%;
    }
    .span_5 {
        width:71.4285714286%;
    }
    .span_6 {
        width:85.7142857143%;
    }
    .span_7 {
        margin-left:0;
        width:100%;
    }
}
